.productBody{
    width: 300px;
    height: 350px;
    margin-top: 10px;
}
.productDetailSection > p {
    font-size: 14px;

}
.productDetailSection > p > span {
    font-weight: bold;

}
.countSection{
    display: flex;
    column-gap: 5px;
}
.countSection > input {
    width: 40px;
    resize: none;
    height: 16px;
}
.addToCartBtn{
    float: right;
    margin-top: -21px;
    margin-right: 100px;
}
.productImage{
    width: 300px;
    height: 180px;
}